*[~]
[#]*[#]
*.lock

/.python-environments
/ac-comphist.dat
/anything-c-adaptive-history
recentf
.recentf
/semanticdb/
/var/
/auto-save-list/
/elpa/archives/
/el-get/*
!/el-get/.status.el
/eshell/history
/eshell/lastdir

*.elc
