*[~]
[#]*[#]
*.lock
/ido.last

/.python-environments
/ac-comphist.dat
/anything-c-adaptive-history
/tramp
recentf
.recentf
/semanticdb/
/var/
/auto-save-list/
/elpa
/el-get/*
!/el-get/.status.el
/eshell/history
/eshell/lastdir

*.elc
network-security.data
url/cookies
/.emacs.desktop

